.image-dining {
  background-position: 50% 50%;
}

.image-chef {
  background-image: url("/images/patamu2.webp");
  background-position: center 34%;
  background-size: cover;
}

.image-plan {
  background-image: url("/images/plan.webp");
}
